# Server Config
PORT=3001
NODE_ENV=development

# Database Config (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/journeyman?schema=public"

# Auth Secret (JWT)
JWT_SECRET="super-secret-jwt-key-change-in-production"
